:root{
  --primary--color: #87A75E;
  --bg--color: #000000;
}

/*header*/
.header-two,
.affix.sticky-menu{
  background-color: var(--bg--color);
}

@media (min-width: 992px) {
    .main-navigation .menu .page_item a, .main-navigation .menu .menu-item a, .main-navigation .menu .dropdown-item a, .main-navigation .menu .nav-link {
        color: #ffffff;
    }
}

#primary-menu .nav-link:focus {
    background-color: transparent;
    border: none;
}

.header-two .site-title a{
  color: #fff;
}

@media (min-width: 992px) {
    .main-navigation .menu .children .page_item > a::before, .main-navigation .menu .dropdown-menu .menu-item > a::before {
        content: none;
    }
}

#primary-menu li.active > a{
  color: var(--primary--color);
}

.main-navigation a{
    color: #fff;
}

/*footer*/

.footer:before{
    background-color: var(--bg--color);
    background-image: unset;
}

footer.footer-one .widget_block a:hover{
  color: var(--primary--color);
}

footer.footer-one .widget_block ul.wp-block-list{
  padding-left: 16px;
}

footer.footer-one .widget_block ul.wp-block-list li{
  margin-bottom: 5px;
}

footer.footer-one .widget_block li{
  list-style: square;
}

footer.footer-one .widget_block h5.wp-block-heading,
footer.footer-one .widget_block h6.wp-block-heading{
  margin-bottom: 5px;
}

/*scroll*/
.fa-arrow-up:before{
  content: "\f077";
}

#c-scroll:hover {
  background-color: var(--primary--color);
}

#c-scroll{
  font-size: 15px;
  border-radius: 5px;
}

/*sidebar*/
.widget_block a{
  display: inline;
  padding-bottom: 0;
  background-image: linear-gradient(to bottom, var(--primary--color) 0%, var(--primary--color) 98%);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  transition: all 0.7s;
}

.widget_block a:hover{
  background-size: 100% 1px;
}

.wp-block-group li a:hover{
  color: var(--primary--color);
}

.widget-area .widget_block{
  border: 1px solid #d7d7d7;
}

.widget-area .widget_block .wp-block-heading{
  border-left: 5px solid var(--primary--color);
  padding: 0.5rem 0.9rem 0.5rem;
  background-color: #efeded;
  margin-bottom: 0;
}

.widget-area .widget_block .wp-block-group__inner-container h2:after.widget-area .widget-area .widget-title::after{
  content: none;
}

.widget-area .widget_block .wp-block-group ul,
.widget-area .widget_block .wp-block-group ol,
.widget-area .widget_block .wp-block-search__inside-wrapper{
  padding: 1.563rem 1.000rem 1.563rem;
}

.widget-area .widget_block .wp-block-group ul,
.widget-area .widget_block .wp-block-group ol{
  margin: 0;
}

.widget-area .widget_block .wp-block-latest-posts li, 
.widget-area .widget_block .wp-block-page-list li,
.widget-area .widget_pages ul li,
.widget-area .widget_nav_menu ul li,
.widget-area .widget_recent_entries ul li,
.widget-area .widget_recent_comments ul li,
.widget-area .widget_meta ul li,
.widget-area .widget_block .wp-block-archives li,
.widget-area .widget_block .wp-block-categories li{
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.widget-area .widget_block .wp-block-group__inner-container h2:after, .widget-title::after{
  content: unset;
}

/*blog page*/
 
 .read-more a {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
}

.read-more a:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.read-more a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.read-more a::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.read-more a::after {
  background-color: #fff;
}

.read-more a:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*single page*/
.site-main .blog-detail h4{
  text-align: center;
  line-height: inherit;
}

.sp-100 .blog-detail .text-left{
    text-align: center !important;
}